OwlSecureWebService/OwlSecurePhoneApp/Service References/OwlSecureServiceReference/WCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44786/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" />
  <xs:element name="DBInitialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DBInitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllItemFromDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllItemFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" minOccurs="0" name="LoadAllItemFromDatabaseResult" nillable="true" type="q1:ArrayOfToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllCategoryFromDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllCategoryFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" minOccurs="0" name="LoadAllCategoryFromDatabaseResult" nillable="true" type="q2:ArrayOfToDoCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToDoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" minOccurs="0" name="toDoForDelete" nillable="true" type="q3:ToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToDoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToDoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" minOccurs="0" name="newToDoItem" nillable="true" type="q4:ToDoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToDoItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesToDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangesToDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>