OwlSecureWebService/OwlSecurePhoneApp/Service References/OwlSecureServiceReference/WCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OwlSecureWebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItem" nillable="true" type="tns:ToDoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItem" nillable="true" type="tns:ArrayOfToDoItem" />
  <xs:complexType name="ToDoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ToDoCategory" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDoItemId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItem" nillable="true" type="tns:ToDoItem" />
  <xs:complexType name="ToDoCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDos" nillable="true" type="tns:ArrayOfToDoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoCategory" nillable="true" type="tns:ToDoCategory" />
  <xs:complexType name="ArrayOfToDoCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoCategory" nillable="true" type="tns:ToDoCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoCategory" nillable="true" type="tns:ArrayOfToDoCategory" />
</xs:schema>